.footer{
    background-color:$colorFooter;
    nav{
        margin-bottom: 0%;
        ul{
            padding-left: 0;
            margin-bottom: 0;
        }
            li{
                list-style: none;
                img{
                    width: 38px;
                }
            
            }
        }
    }