.footer{
    background-color:$colorFooter;
    nav{
        margin-bottom: 0;
            li{
                list-style: none;
                img{
                    width: 38px;
                }
            
            }
        }
    }