
@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "animaciones.scss";
.main{
    font-size: 22px;
    h2{
        font-family: 'Italiana', serif;
    }
    p{
        font-family: 'Barlow', sans-serif;
    }
}
.aside{
    display: flex;
    flex-direction: row;
    img{
        width: 30%;
        padding: 5px;
        }
    }
.imgExh{
    width: 380px;
}
.imgExh1{
    width: 380px;
}
.cards__art{
    img{
    width: 300px;
    }
    p{
        display: flex;
        justify-content: center;
    }
}

.btn{
    padding: map-get($boton , padding );
    margin: map-get($boton , margin );
}