
@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "animaciones.scss";
@import "mixin.scss";
@import "extend.scss";

.navbar{
    font-family: 'Tiro Kannada', serif;
    font-size: 20px;
}
.bodyExh h4{
    font-family: 'Barlow', sans-serif;
}
.mainNews{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 250px;
    }
}
.main{
    font-size: 22px;
    h1{
        font-family: 'Italiana', serif;
        margin-top: 20px;
    }
    p{
        padding: 20px;
        font-family: 'Barlow', sans-serif;
    }
}
.aside{
    display: flex;
    flex-direction: row;
    img{
        width: 400px;
        padding: 2px;
        margin: 2px;
        }
    }
.imgExh{
    width: 380px;
}
.imgExh1{
    width: 380px;
}

.cardsLoc{
    justify-content: space-around;
    img{
        width: 500px;
    }
}
.cardLocation{
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    border-color: whitesmoke;
    box-shadow: 3px 1px whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        margin-top: 10px;
        margin-bottom: 18px;
    }
    p{
        font-family: 'Barlow', sans-serif;
    }
}






