
@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "animaciones.scss";
@import "mixin.scss";
@import "extend.scss";

.mainNews{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 250px;
    }
}
.main{
    font-size: 22px;
    h2{
        font-family: 'Italiana', serif;
    }
    p{
        padding: 20px;
        font-family: 'Barlow', sans-serif;
        
    }
}
.aside{
    display: flex;
    flex-direction: row;
    img{
        width: 340px;
        padding: 2px;
        margin: 2px;
        }
    }
.imgExh{
    width: 380px;
}
.imgExh1{
    width: 380px;
}






