* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #CCCECC;
}
.footer nav {
  margin-bottom: 0;
}
.footer nav ul {
  margin-bottom: 0;
}
.footer nav li {
  list-style: none;
}
.footer nav li img {
  width: 38px;
}

.img1.grow {
  transition: all 0.1s ease-in-out;
}

.img1:hover {
  transform: scale(1.1);
}

.card.grow {
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  padding: 1px;
}

.main {
  font-size: 22px;
}
.main h2 {
  font-family: "Italiana", serif;
}
.main p {
  font-family: "Barlow", sans-serif;
}

.aside {
  display: flex;
  flex-direction: row;
}
.aside img {
  width: 30%;
  padding: 5px;
}

.imgExh {
  width: 380px;
}

.imgExh1 {
  width: 380px;
}

.card1 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card1 img {
  width: 300px;
  border-radius: 10px;
}
.card1 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card2 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card2 img {
  width: 300px;
  border-radius: 10px;
}
.card2 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card3 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card3 img {
  width: 300px;
  border-radius: 10px;
}
.card3 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card4 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card4 img {
  width: 300px;
  border-radius: 10px;
}
.card4 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card5 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card5 img {
  width: 300px;
  border-radius: 10px;
}
.card5 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card6 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card6 img {
  width: 300px;
  border-radius: 10px;
}
.card6 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card7 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card7 img {
  width: 300px;
  border-radius: 10px;
}
.card7 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card8 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card8 img {
  width: 300px;
  border-radius: 10px;
}
.card8 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card9 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card9 img {
  width: 300px;
  border-radius: 10px;
}
.card9 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card10 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card10 img {
  width: 300px;
  border-radius: 10px;
}
.card10 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card11 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card11 img {
  width: 300px;
  border-radius: 10px;
}
.card11 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card12 {
  border: solid 1px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.card12 img {
  width: 300px;
  border-radius: 10px;
}
.card12 p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */